@import url('photographer.css');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
}

header {
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	margin-left: 100px;
}

h1 {
	color: #901c1c;
	margin-right: 100px;
}
a{
	text-decoration: none;
}

header a{
    padding: 5px;
	border-radius: 5px;
}
header a:hover,
header a:focus{
	outline: #d3573c 2px solid;
}

.logo {
	height: 50px;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;
}

.photographer_section article,
.photographer_section article a {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	padding: 5px;
}

.photographer_section article a:hover,
.photographer_section article a:focus {
	outline: #d3573c 2px solid;
}
.photographer_section article a h2 {
	color: #d3573c;
	font-size: 36px;
}

.photographer_section article a img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	object-fit: cover;
	cursor: pointer;
}

.photographer_section article aside {
    justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article aside .city {
    font-weight: 400;
    font-size: 13px;
    color: #901c1c;
}
.photographer_section article aside .tagline {
    font-size: 13px;
}
.photographer_section article aside .price {
    font-size: 9px;
    color: #525252;
}
